<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcN7ewug0WTJ48OPO8fJu3gXTXEbct1Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>645024717879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cis2203-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cis2203-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645024717879:ios:e25efec6fca989af7a33b2</string>
</dict>
</plist>